body {
  background-image: url(Backgrounds/space.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  overflow-y: hidden;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.circle {
  height: 100px;
  width: 100px;
}
